<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="popup">
    <div id="divideForm" class="hidden">
        <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75">
            <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md hidden">

                <h2 class="text-2xl font-bold mb-4">나눠진 주제들...</h2>

                <form th:action="@{/subject/save}" method="post">


                    <!--                <ul id="taskList" class="list-none p-0">-->
                    <!--                    <li th:if="${#lists.isEmpty(subjects)}" class="text-center p-3 m-3 text-gray-500">-->
                    <!--                        이런.. 아무것도 없네요.-->
                    <!--                    </li>-->


                    <!--                    <li th:each="subject : ${subjects}" th:unless="${subject.isDone}"-->
                    <!--                        class="flex flex-col justify-between items-start p-2 bg-gray-100 rounded mb-2 transition duration-1000 ease-in-out hover:bg-pink-200 focus:bg-pink-200">-->
                    <!--                        <div class="flex justify-between items-center w-full">-->
                    <!--                            <input type="checkbox" class="mr-2">-->
                    <!--                            <span class="font-bold" th:text="${subject.subject}">Example Task</span>-->
                    <!--                            <button onclick="toSubTasks(this)"-->
                    <!--                                    class="ml-auto bg-gray-300 px-2 py-1 rounded text-lg transition duration-300 ease-in-out transform hover:scale-105 hover:bg-gray-400">-->
                    <!--                                세부과제 보기-->
                    <!--                            </button>-->
                    <!--                        </div>-->
                    <!--                        <div class="description mt-2 text-gray-500 ml-4" th:text="${subject.description}">This is the-->
                    <!--                            description for Example Task.-->
                    <!--                        </div>-->
                    <!--                    </li>-->

                    <!--                </ul>-->


                    <div class="flex justify-end">
                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
                        <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2"
                                onclick="closeDivideForm()">
                            Cancel
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="loadingForm" class="hidden">
        <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75">
            <div class="bg-white rounded-lg shadow-lg px-6 py-8  w-full max-w-md flex flex-col items-center">
                <h2 class="text-2xl font-bold mb-4">로딩중...</h2>
                <div class="spinner"></div>
            </div>
        </div>
    </div>

    <div id="selectForm" class="hidden opacity-0 transition-opacity duration-2000">
        <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75">
            <div class="bg-white rounded-lg shadow-lg px-6 py-4 w-full max-w-md">
                <h2 class="text-2xl font-bold mb-4">세부주제가 없습니다.</h2>
                <p class="mb-6">🤖 AI의 도움을 받아 세부주제를 나누시겠습니까? </p>
                <div class="flex justify-between">
                    <button type="button" class="bg-green-500 text-white px-4 py-2 rounded" onclick="confirmYes()">예</button>
                    <button type="button" class="bg-red-500 text-white px-4 py-2 rounded" onclick="hideSelectForm()">아니오</button>
                </div>
            </div>
        </div>
    </div>

</div>

</html>