<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="treeList">

    <ul id="taskList" class="list-none p-0">
        <li th:if="${#lists.isEmpty(subjects)}" class="text-center text-gray-500">
            😄 모든 할 일을 완료했어요!
        </li>

        <li th:each="subject : ${subjects}"
            class="flex flex-col justify-between items-start p-2 bg-gray-100 rounded mb-2 transition duration-1000">
            <div class="taskItem flex justify-between items-center w-full">
                <div>
                    <input class="mr-2" type="checkbox" onchange="toggleTask(this)">
                    <span class="font-bold" th:text="${subject.subject}">Example Task</span>
                </div>
                <div>
                    <button type="button"
                            class="text-yellow-700 border border-yellow-700 hover:bg-yellow-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-yellow-500 dark:text-yellow-500 dark:hover:text-white dark:focus:ring-yellow-800 dark:hover:bg-yellow-500">
                        <i class="fas fa-star"></i>
                        <span class="sr-only">즐겨찾기</span>
                    </button>
                    <button th:if="${#lists.isEmpty(subject.children)}"
                            th:onclick="|requestQuery(${subject.id})|"
                            class="ml-auto bg-primary px-2 py-1 rounded text-white transition duration-300 ease-in-out transform hover:scale-105 hover:bg-primary">
                        세부과제 생성
                    </button>

                    <a th:unless="${#lists.isEmpty(subject.children)}" th:href="@{|/subject/${subject.id}|}"
                       class="ml-auto bg-primary-content px-2 py-1 rounded transition duration-300 ease-in-out transform hover:scale-105 hover:bg-primary">
                        세부과제 보기
                    </a>
                </div>
            </div>
            <div class="description mt-2 text-gray-500 ml-4" th:text="${subject.description}">This is the
                description for Example Task.
            </div>
            <input type="hidden" th:value="${subject.id}">
        </li>

    </ul>

</div>
</html>